*.pyc
*.graph
models/*.graph
models/*.pyc
models/*.ckpt*
models/*.pb
models/*txt
models/*.tflite
checkpoints/
Test/
accuracy_vs_epochs.png
loss_vs_epochs.png
iou_vs_epochs.png
colour_codes.csv
CamVid_train.tfrecords
tfrecords.py
frontends/class_dict.csv
My_dataset_*
